<!-- Partie utilisateur Keycloak -->
<div *ngIf="keycloakService.ready" style="display:flex; align-items:center; gap:10px;">

  <ng-container *ngIf="keycloakService.isLoggedIn(); else loginButton">

    <span>👋 Bienvenue {{ keycloakService.getUsername() }}</span>

    <!-- bouton créer utilisateur -->
    <button *ngIf="keycloakService.hasRole('admin')"
            (click)="createUser()"
            style="padding:6px 12px; background-color:white; color:#FFA10A; border:1px solid#FFA10A; border-radius:5px; cursor:pointer;">
      ➕ Créer un utilisateur
    </button>

    <!-- bouton logout -->
    <button (click)="logout()"
            style="padding:6px 12px; background-color:white; color:#FFA10A; border:1px solid #FFA10A; border-radius:5px; cursor:pointer;">
      🔓 Déconnexion
    </button>

  </ng-container>
<button (click)="login()">Login</button>
  <!-- bouton login -->
  <ng-template #loginButton>
    <button (click)="keycloakService.login()"
            style="padding:6px 12px; background-color:#FFA10A; color:white; border:none; border-radius:5px; cursor:pointer;">
      🔑 Login
    </button>
  </ng-template>

</div>
<router-outlet></router-outlet>